# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.idea/PhotoOrganizer.iml

.idea/misc.xml

.idea/modules.xml

PhotoDB_Test0103.db

PhotoDB_Test2-3DB.db

PhotoDB_Test24DB.db

PhotoDB_TestDatabase2.db

PhotoDB_TestDatabaseInPhotos.db

PhotoDB_V2-2TestDatabase.db

PhotoDB.db

ePhotoDB.db

PhotoDB_Test2-5DB.db

PhotoDB_Test_002_DB.db

PhotoDB_Test_003_DB.db

PhotoDB_TEST_001_DB.db

PhotoDB_PYTEST_01DB.db

PhotoDB_FullTestArchiveDB.db

# Thumbnail cache directories
.thumbnails/
*/.thumbnails/

# SQLite temporary files
*.db-shm
*.db-wal

DuplicateFileDetection_app_error.log.1

DuplicateFileDetection_app_error.log.2

DuplicateFileDetection_app_error.log.3

.xdp-PhotoDB_BowerPhotoArchiveDB.db-shm-hu8eLJ

.xdp-PhotoDB_BowerPhotoArchiveDB.db-wal-czK3CC

PhotoDB_V3-1TestDB.db

PhotoDB_TestDB_02.db

PhotoDB_BowerFamilyPhotArchive.db

db_snapshots/db_snapshot_20260123_132017_pre_schema_upgrade_7e5be021.db

*.db

main_app_error.log.1

main_app_error.log.3

main_app_error.log.2

photo_filter.log.3

*.2

*.1
